body {
    background-color: black;
    color:darkred;
   font-family: "Manufacturing Consent", system-ui;
    font-size: 60px;
}
h1{
    font-size:30px;
    border:double 5px red;
    padding: 50px;
    text-align: center;
}
p{
    font-size:30px;
}

