body {
    background-color: black;
    color:darkred;
    font-family: "Libertinus Mono", monospace;
    font-size: 60px;
}
hl{
    font-size:20px;
    border:double 5px red;
    padding: 50px;
    text-align: center;
}
p{
    font-size:15px;
}

